/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* SUCCESS */

.success-snackbar {
  --mdc-snackbar-container-color: #16a34a !important;

  --mdc-snackbar-supporting-text-color: white !important;
}

/* ERROR */

.error-snackbar {
  --mdc-snackbar-container-color: #dc2626 !important;

  --mdc-snackbar-supporting-text-color: white !important;
}

/* INFO */

.info-snackbar {
  --mdc-snackbar-container-color: #2563eb !important;

  --mdc-snackbar-supporting-text-color: white !important;
}
